@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root{
    --cor-1:rgba(196, 11, 180, 0.692);
    --cor-2:rgba(197, 178, 199, 0);
    --cor-hover:rgb(251, 255, 0);
    --cor-font:rgb(255, 255, 255);
    --cor-p:re#555;
    --cor-btn:#563434;
    --cor-btn-hover:#15ff00;
    --cor-fonte:#000;
    --cor-corpo:#555;
    --cor-fonte-leve:#777;
}


body{
    font-family: 'poppins', sans-serif;
}

.banner{
    background: radial-gradient(var(--cor-2), var(--cor-1));
}

.banner .linha{
    margin-top: 70px;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: var(--cor-fonte);
}

.banner p{
    color: var(--cor-fonte);
}

.logo img:hover{
        background: rgba(216, 49, 216, 0.185);
        border-radius: 100%;
        transition: background 0.8s;
        cursor: pointer;
}

p{
    color: var(--cor-p);
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 80%;
    padding: 50px;
}

,col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}

.col-2 p{
    font-weight: 600;
}

.btn{
    text-decoration: none;
    color: white;
    background: rgb(231, 144, 231);
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 26px;
}
.btn:hover{
    background: var(--cor-1);
    color: rgb(0, 0, 0);
    transition: background 0.5s ;
}

.ctegorias{
    margin: 70px 0;
}

.corpocat{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    max-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    padding-top: 30px;
    object-fit: cover;
    object-position: center;
}

.col-4{
    flex-basis: 25%;
    max-width: 200px;
    padding: 15px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover{
    transform: scale(1.1);
}

.col-4 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

