@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-1: rgba(196, 11, 180, 0.692);
    --cor-2: rgba(197, 178, 199, 0);
    --cor-3: rgba(86, 83, 87, 0.521);
    --cor-fonte: #fff;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to left,
        rgba(211, 126, 211, 0.616),
        rgba(214, 200, 200, 0.644),
        rgba(255, 192, 203, 0.815));
}

main{
    max-width: 800px;
    margin: auto;
}

/* ================= NAVBAR ================= */

.banner{
    background: radial-gradient(var(--cor-2), var(--cor-1));
}

.container{
    max-width: 1400px;
    margin: auto;
    padding: 0 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

nav{
    flex: 1;
    text-align: right;
}

#itens-menu{
    display: inline-block;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover{
    background-color: rgba(128, 0, 128, 0.397);
    color: #000;
    border-radius: 30px;
    padding: 10px;
}

.logo img{
    width: 100px;
    transition: transform 0.5s;
}

.logoimg:hover{
    transform: scale(1.1);
}

.sacolac{
    width: 30px;
    height: 30px;
    transition: transform 0.4s;
}

.sacolac:hover{
    transform: scale(1.4);
}



/* ================= BANNER ================= */

.linha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.col-2:first-child{
    flex: 1.3;
}

.col-2:last-child {
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
}

.col-2 img{
    max-width: 160px;
    width: 100%;
}

.col-2 h1{
    font-family: "Lobster Two", sans-serif;
    font-size: 30px;
    margin: 10px 0;
}

.col-2 p{
    font-weight: 300;
    color: white;
}

.col-2 a{
    padding-bottom: 10px;
}

.btn{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    background: rgb(231, 144, 231);
    padding: 8px 30px;
    border-radius: 26px;
    padding-bottom: 10px;
}

.btn:hover{
    background: rgba(128, 0, 128, 0.295);
    color: black;
}

.mais-info{
    padding-bottom: 20px;
}

/* ================= PRODUTOS ================= */

.corpocat{
    padding: 30px 25px;
    background: radial-gradient(var(--cor-3), var(--cor-1));
}

.corpocat h2{
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(184, 184, 184, 0.205);
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.produtos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.produto{
    background: #d8c3e3b7;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s;
}

.produto:hover{
    transform: scale(1.05);
}

.produto img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}

.produto h3{
    font-size: 14px;
    margin: 6px 0 2px;
}

.produto p{
    font-size: 13px;
    font-weight: bold;
    color: rgb(97, 4, 97);
}

/* BOTÃO ADICIONAR */

.produto button{
    margin-top: 6px;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    background: rgba(128, 0, 128, 0.452);
    color: white;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
}

.produto button:hover{
    background: purple
}

/* ================= QUADROS ================= */

.quadro h2{
    background-color: rgba(128, 0, 128, 0.452);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    color: white;
}

/* ================= OUTROS ================= */

.outros{

}

 

/* ================= CARRINHO ================= */

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 15px rgba(114, 106, 106, 0.2);
    transition: 0.3s;
    padding: 20px;
    z-index: 999;
    overflow-y: auto;
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.cart-header span{
    cursor: pointer;
    font-size: 18px;
}

.cart-footer {
    margin-top: 20px;
}

.cart-footer button{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background: purple;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.cart-footer button:hover{
    background: black;
}

/* ================= ASIDE ================= */


aside{
    text-align: center;
    padding-top: 20px;

}

.vmais{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    background: rgb(231, 144, 231);
    padding: 8px 30px;
    border-radius: 26px;
    padding-bottom: 10px;
}

aside p{
    font-size: 0.8em;
}

.vmais:hover{
    background: rgba(128, 0, 128, 0.295);
    color: black;
}

/* ================= FOOTER ================= */

footer{
    text-align: center;
    background-color: rgba(128, 0, 128, 0.288);
    padding: 10px;
    font-size: 0.8em;
}

footer a{
    text-decoration: none;
    color: white;
}
